
body{
    background-color: black;
}

    h1{
       color: #00FFFF; 
       margin-right: 180px;
    } 
 p,h2 {
  color: #DC143C;
  text-align: center;
 }


/* *{  border: solid;  }
*/
 .encabezado{
    background-color: rgb(88, 24, 69);
    display:flex;
    justify-content : space-between;
}

.juegos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.redes{
display: flex;
justify-content: flex-end;
}

.foto{
    margin-left: 500px;
}

.imper a{
    padding-left: 15px;

}

a:link{
    color: black;
}
a :visited{
    color: black;
}
h2 {
    font-family: 'Courier New';
}

p {
    font-size: large;
}
.jue{
    position: relative;
    padding: 15px;
}
.jue p{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.jue:hover p{
    opacity: 1;
}
.jue:hover img{
    opacity: 0.5;
}
.redes img{
    padding: 10px;
}